#social #invite-question {
	background: url(../images/theme/social/question_invite.png) no-repeat scroll left top transparent;
	width: 220px;
	height: 42px;
}

#social #teaserQuestion {
	background: url(../images/theme/social/question_post-it.png) no-repeat scroll left top transparent;
	height: 150px;
	padding-bottom: 5px;
	width: 190px;
}

#teaserQuestion .titre {
	color: #444;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 9px;
    padding: 50px 0 0;
	position: relative;
    text-align: center;
    text-shadow: 0 0 black;
}
#teaserQuestion .titre:before {
	content: "« ";
}
#teaserQuestion .titre:after {
	content: " »";
}


#teaserQuestion .auteur {
	color: #666;
	font-style: italic;
    margin: 10px 10px 0 0;
	text-align: right;
}

#teaserQuestion .auteur:before {
/*	color: #666;
	content: '-';
	padding-right: 10px;
*/}

#social .linkQuestion {
	display: inline-block;
	height: 37px;
	text-align: center;
	width: 190px;
	margin-top: 2px;
	margin-bottom: 24px;
}

#social .linkQuestionNoFollow {
	cursor: pointer;
	display: inline-block;
	height: 37px;
	text-align: center;
	width: 190px;
	margin-top: 2px;
	margin-bottom: 24px;
	opacity: 0.4;	
}