{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}

{% extends 'DocumentBundle:Default:TDNDocument.html.twig' %}

{% block contenu_principal %}
{% if error is defined %}
    <div>{{ error.message }}</div>
{% endif %}
<form action="{{ path('Nana_passwordResetS2') }}" method="post">
    <p>Nous allons t'envoyer un message pour vérifier que le compte t'appartient vraiment.</p>
    <p>En suivant le lien contenu dans le mail, tu pourras définir un nouveau mot de passe.</p>
    <div>
	    <label for="email">Email </label>
        <input type="text" id="email" name="email" value="" style="height:18px"/>
     
	   <input id="envoyer" type="submit"  name="envoyer" value="">
    </div>

    {#{ form_row(form._token) }#}

    {# redirection #}
    <input type="hidden" name="_target_path" value="/my-tdn/profil" />

</form>
{% endblock %}