
<section id="bloc-open-concours">

{#%for concours in more %#}
	<div class="concours-liste">
    	<div class="vignette-sommaire-wrapper">
            <div class="vignette-sommaire">
                 <img src="{{ asset('assets/images/theme/image-test.jpg') }}" class="" />
             </div>
         </div>
     </div>
{#% endfor %#}
</section>