{% extends 'CoreBundle:Mail:notification.html.twig' %}

{% block corps %}
<p>Je viens de participer à un jeu-concours sur Trucdenana.com :</p>
<p>{{ titre }}</p>
<p>J'ai donné ton adresse pour que tu puisses être prévenu(e) et participer aussi, si tu veux.</p>
<p>{{ nom }}</p>
{% endblock %}
