#top-border {
	background:  #93117E;
	height: 12px;
	position: fixed;
	width: 100%;
	z-index: 890; /*corrigée ! valeur avant:990*/
}

#mytdn-wrapper {
	z-index: 999; 
	position: relative;
}

#mytdn {
/*	background:  #93117E;*/
/*	height: 50px;*/
/*	padding: 4px 20px*/
	position: fixed;
/*	left: 800px;*/
	-moz-transition-property: top;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-out;
	width:1040px;
	z-index:950; 
}

.mytdn-closed {
	top: -125px;
}

.mytdn-closed:hover {
	top: 0px;
}

#mytdn-dashboard {
	background:  url(../images/theme/tetiere/mytdn/bg_my-tdn.jpg) no-repeat scroll left top #93117E;
	border-radius: 0 0 20px 20px; /*corrigée ! valeur avant: 0 0 8px 8px*/
	display: table;
	height: 124px;
	position: relative;
	width: 100%;
	z-index: 100;
}

#my-identite,
#my-options {
	color: #FFF;
	display: table-cell;
	height: 100px;
	vertical-align: top;
}

#my-identite {
	width: 300px;
}

#my-identite #avatar {
	left: 42px;
	position: absolute;
	top: 12px;
	width: 100px;
}

#my-identite #whoami {
	margin-left: 110px;
	text-align: center;
}

#my-identite #whoami p,
.no-margin {
	margin: 0;
}

#whoami .name {
	font-weight: bold;
	font-size: 1.3em;
}

#whoami .role {
	color: #24ACAD;
}

#whoami .deconnexion {
	color: #EAA6E9;
}


#my-options {
	/*display: table;*/
	padding: 10px 40px;
}

#my-options .groupe-options {
	display: table-cell;
	padding: 0 18px 0 24px;
}

#my-options .groupe-options:not(:first-child) {
	background: url(../images/theme/tetiere/mytdn/separateur_horizontal.png) no-repeat scroll left top transparent;
}

#my-options label {
	margin-top: 0;
	display: inline-block;
}

#mytdn-grip {
	-webkit-border-radius: 0px 0px 40px 40px;
	border-radius: 0px 0px 40px 40px;
	color: #FFF;
	background:  #93117E;
	font-family: Droid;
	position: relative;
	left: 350px; /*modif ! avant > 800px*/
	top: -4px;
	width: 570px; /*modif ! avant > 120px*/
	height:45px; /*new*/
	padding-top: 8px;
	padding-right: 40px;
	padding-bottom: 0px;
	padding-left: 40px;
}

#mytdn-grip img {
	vertical-align: middle;
}

#tdn-header: {
	z-index: 600;
}

.theme-alaune #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-alaune.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-beaute #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-beaute.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-bienetre #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-bienetre.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-deco #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-deco.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-geekette #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-geekette.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-mode #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-mode.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-sexo #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-sexo.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-recettes #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-recettes.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}
.theme-tdn #tdn-header {
	background: url(../images/theme/tetiere/page/bg_page-tdn.jpg) no-repeat scroll left top #97D2D8;
	height: 200px;
}

#logo-wrapper {
	left: 83px; /*corrigée ! valeur avant: 50px*/
	position: absolute;
	z-index: 900; /*corrigée ! valeur avant: 900*/
}

#mytdn-grip > div {
	display: inline-block;
	vertical-align: middle;
}

#mytdn-grip .bienvenue {
	width: 280px;
}

#mytdn-grip .dashboard {
	width: 160px;
}

.mytdn-closed .tiroir {
	width: 110px;
	background: url(../images/theme/tetiere/mytdn/bt_closed_MyTDN.png) no-repeat scroll right bottom transparent;
}

.mytdn-closed:hover .tiroir {
	width: 110px;
	background: url(../images/theme/tetiere/mytdn/bt_open_MyTDN.png) no-repeat scroll right bottom transparent;
}

.element-on {
	display: inline-block;
	height:	35px;
	width: 35px;
}

#mytdn-grip .dashboard .gain-off {
	background: url(../images/theme/tetiere/mytdn/notification_escapin_off.png) no-repeat scroll left top transparent;
}

#mytdn-grip .dashboard .relations-off {
	background: url(../images/theme/tetiere/mytdn/notification_coeur_off.png) no-repeat scroll left top transparent;
}

#mytdn-grip .dashboard .activite-off {
	background: url(../images/theme/tetiere/mytdn/notification_news_off.png) no-repeat scroll left top transparent;
}

#mytdn-grip .dashboard .perso-off {
	background: url(../images/theme/tetiere/mytdn/notification_membre_off.png) no-repeat scroll left top transparent;
}

.avatar-minuscule {
	height: 30px;
	margin:	0 20px;
}

.granted-options {
	list-style: none;
}

.granted-options::after {
	content: url("../images/theme/tetiere/mytdn/bt_fleche droite.png");
	margin-left: 6px;
	position: relative;
	top: 2px;
}