{% extends 'DocumentBundle:Default:TDNDocument.html.twig' %}

{% block title "Mentions légales" %}

{% block local_stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/conseil.css') }}" type="text/css">
{% endblock %}

{% block contenu_principal %}
<div class="postit-contenu">
   <!--img src="{{ asset('assets/images/theme/centre/titres/conseils-experts_titre_299x80.png')}}" /-->
</div>

<article id="article-wrapper" class="main article-redaction">

	<!-- Contenu du conseil -->
	<section class="contenu main-section">

	    <!-- Bloc pour l'affichage des métadonnées de l'article -->  
		<div id="metadata" class="metadata">
	  		<p class="auteur">
	  			<span class="standardEtiquette"></span>
			</p>
		</div>

	    <!-- Bloc pour l'affichage du contenu de l'article -->
	    <div id="corps" class="corps">
			<h1 class="titre-document titre-tdn">Mentions légales</h1>
			<p>Trucs De Nana est un webzine féminin participatif qui vous propose un large choix de rubriques (beauté, bien-être/nutrition, forme, mode, recettes, tendances sorties, etc.) regroupant des articles, des conseils de professionnels, des vidéos, et qui permet à toutes les nanas d’échanger des astuces, des idées...</p>

			<h2>Infos éditeurs :</h2>
			<ul>
				<li style="list-style:none">SAS Truc De Nana</li>
				<li style="list-style:none">Cap Social : 10 000 euros.</li>
				<li style="list-style:none">Siège Social : 10 rue Monge 75005.</li>
				<li style="list-style:none">Rédaction : 111 rue St Antoine 75004 Paris.</li>
				<li style="list-style:none">Gérant : Settini Vianney</li>
				<li style="list-style:none">Directrice de la rédaction : Justine Andanson</li>
			</ul>
			<p>Truc(s) De Nana est une marque déposée et déclarée à la CNIL.</p>

			<h2>Informatiques & Libertés :</h2>
			<p>Les informations susceptibles d'être collectées sur le présent site sont exclusivement destinées au traitement de votre demande par Trucs de Nana.</p>
			<p>Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi Informatique et Libertés).</p>
			<p>Vous pouvez exercer ce droit en nous écrivant par mail.</p>
			<p>Le site peut contenir des liens hypertextes donnant accès à d'autres sites web édités par des tiers. Si ces tiers ne respectent pas les dispositions légales et réglementaires françaises ou européennes en vigueur, www.trucsdenana.com ne saurait être tenu responsable directement ou indirectement.</p>

			<h2>Propriété intellectuelle</h2>
			<p>Tous les internautes de TDN sont tenus de respecter la loi informatique et libertés dont la violation est sanctionnée pénalement. Toute collecte, captation, déformation ou utilisation des informations auxquelles elles accèdent sur le site ainsi que tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes est interdit.</p>
			<p>Vous êtes informées également que conformément aux dispositions de la loi informatique et libertés qu’elles disposent d’un droit d’accès et de rectification relativement aux informations auprès de l’équipe TrucsDeNana,contact@trucsdenana.com</p>
			<p>Toute utilisation illicite de tout ou partie du site (piratage, contrefaçon, etc.) pourra donner lieu à des poursuites.</p>

			<h3>A propos des conseils (questions des internautes / réponses d’experts), des idées (vos astuces), et des commentaires :</h3>
			<p>Sur Trucs De Nana, il existe plusieurs rubriques qui permettent aux « nanas » de poser des questions à nos experts, de témoigner, de partager leurs idées, de donner leurs avis, d'exprimer leurs opinions à travers des commentaires. Les avis, opinions et commentaires n'engagent que leurs auteurs et ne représentent en aucun cas une position ou une opinion de Trucs De Nana. Vous vous engagez à ne pas diffamer, abuser, harceler ou menacer quiconque, ni à violer les droits d'autrui tels que par exemple les droits de la personne, le droit à la vie privée, le droit à la dignité humaine. Toutefois, Trucs De Nana se réserve la possibilité de publier ou non votre commentaire sur son Site, de le conserver en ligne ou de le supprimer à tout moment et sans avoir à vous en informer préalablement. En postant votre commentaire, votre question, votre idée, votre témoignage, vous cédez expressément et gracieusement à Truc de Nana, tous droits de propriété intellectuelle y afférant et notamment le droit de reproduction, de représentation, d'adaptation, sur tout support et en tout format connus ou inconnus à ce jour, pour le monde entier et pour la durée de la propriété intellectuelle actuelle ou à venir.</p>
			<p>Concernant les idées, les questions et les témoignages, Trucs De Nana se réserve la possibilité de publier ou non votre texte sur son Site, de le modifier, de l'adapter, de le conserver en ligne ou de le supprimer à tout moment et sans avoir à vous en informer préalablement.</p>
			<p>Vous êtes seul et unique responsable des propos tenus dans les textes que vous publiez sur www.trucsdenana.com et à ce titre garantissez Trucs De Nana contre tout recours et/ou actions que pourrait intenter toute personne et ce du fait de la diffusion de votre texte sur www.trucsdenana.com Vous assumerez toute charge et paiement concernant ces dites personnes quelle qu'en soit la cause ou la raison qui pourrait être dû ou réclamé.</p>		
		</div>
	</section>
</article>
{% endblock %}