{% extends 'CoreBundle:Mail:notification.html.twig' %}

{% block corps %}
<p>Nous sommes heureuses de t'accueillir sur Trucs De Nana !</p>
<p>Pour mieux te connaitre, complète ton profil avec ta photo et une petite présentation. Tu gagneras ainsi ton premier escarpin virtuel.</p>

<p>Pour gagner une vraie paire de chaussures mise en jeu chaque mois après un tirage au sort sur le
site, tu devras cumuler 5 escarpins virtuels <img src="http://www.trucsdenana.com/assets/images/theme/centre/profil/5_escarpins.png" /></p>

<p>Il te suffira de participer à la communauté, c'est-à-dire commenter, répondre aux questions de 
nanas, aimer les articles, poser des questions aux experts et partager avec tes copines !</p>

<p>As-tu pensé à t'inscrire à la News de TDN ? Tu pourras recevoir ton Astro Love et gagner d'office 
un escarpin !</p>

<p>A très vite sur Trucs De Nana !</p>
{% endblock %}