{% extends 'DocumentBundle:Admin:documentDetail.html.twig' %}

{% block form_contenuDocument %}
<section id="contenuArticle" class="form-section section-contenu">
	<div id="abstractArticle" class="blockWidget">
		{{ form_row(form.abstract, {'attr' : {'class':'tiroirFerme' }}) }}
		<div id="source-abstract" style="border:1px solid #999; min-height:200px; overflow:visible">
        {% if sourceAbstract is defined %}{{ sourceAbstract }}{% endif %}
        </div>
	</div>
</section>
{% endblock %}

{% block form_script%}
<script type="text/javascript">
    Aloha.ready( function() {
       Aloha.jQuery('#source-article').aloha();
       Aloha.jQuery('#source-abstract').aloha();
    });
    $(document).ready(function () {
    	$("#source-abstract").blur(function () {
    		$("#article_add_abstract").html($("#source-abstract").html());
    	});
    	$("#miseEnAvant").click(function () {
    		$("#section_miseEnAvant").toggleClass('tiroirOuvert tiroirFerme');
    	});
    	$("#source-abstract").html($("#article_add_abstract").text());
    })
</script>
{% endblock %}
