@charset "utf-8";
/* color texte */

.alaune_texte {
	color: #ff9900;
}

.beaute_texte {
	color: #ff6699;
}
.deco_texte {
	color: #006699;
}
.geekette_texte{
	color: #666;
}
.mode_texte {
	color: #33ccff;
}
.bien-etre_texte{
	color: #00cc66;
}
.sexo_texte{
	color: #ff3300;
}
.recettes_texte{
	color: #a27951;
}
.gris_texte {
	color: #f1f5fa;
}
.footer_texte {
	color: #A9E7E5;
}
.footer_tdn_texte {
	color: #A098BE;
}
.mytdn_texte {
	color: #24ACAD;
}
.default_texte {
	color: #48585E;
}
.vert_texte {
	color: #448A8A;
}

/* color background */
.texte_gris {
	background-color: #f1f5fa;
}
.texte_footer {
	background-color: #A9E7E5;
}
.texte_footer_tdn {
	background-color: #A098BE;
}
.texte_mytdn {
	background-color: #24ACAD;
}
.texte_noir {
	background-color: #000;
}
.texte_vert {
	background-color: #448A8A;
}

.alaune_principale {
	background-color: #ff9900;
}
.coin_alaune:before {
	background-color: #ff9900;
}
.alaune_secondaire {
	background-color: #ffefd6;
}

.beaute_principale {
	background-color: #ff6699;
}
.coin_beaute:before {
	background-color: #ff6699;
}
.beaute_secondaire {
	background-color: #ffe5ed;
}

.deco_principale {
	background-color: #006699;
}
.coin_deco:before {
	background-color: #006699;
}
.deco_secondaire {
	background-color: #d4e5ee;
}

.geekette_principale {
	background-color: #666;
}
.coin_geekette:before {
	background-color: #666;
}
.geekette_secondaire {
	background-color: #eee;
}

.mode_principale {
	background-color: #33ccff;
}
.coin_mode:before {
	background-color: #33ccff;
}
.mode_secondaire {
	background-color: #ddf6ff;
}

.bien-etre_principale {
	background-color: #00cc66;
}
.coin_bien-etre:before {
	background-color: #00cc66;
}
.bien-etre_secondaire {
	background-color: #a6edca;
}

.sexo_principale {
	background-color: #ff3300;
}
.coin_sexo:before {
	background-color: #ff3300;
}
.sexo_secondaire {
	background-color: #ffded6;
}

.recettes_principale {
	background-color: #a27951;
}
.coin_recettes:before {
	background-color: #a27951;
}
.recettes_secondaire {
	background-color: #e2d5c6;
}

/* color bordures*/

.bordure_bleu {
	border: 2px solid #1dbfb9;
}
.bordure_rose {
	border: 2px solid #FF91FF;#
}

/* color degrades */
.degrade1 {
	background-image: linear-gradient(top, #C8EFEE 0%, #EFF7F7 54%);
	background-image: -o-linear-gradient(top, #C8EFEE 0%, #EFF7F7 54%);
	background-image: -moz-linear-gradient(top, #C8EFEE 0%, #EFF7F7 54%);
	background-image: -webkit-linear-gradient(top, #C8EFEE 0%, #EFF7F7 54%);
	background-image: -ms-linear-gradient(top, #C8EFEE 0%, #EFF7F7 54%);
	background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0, #C8EFEE),color-stop(0.54, #EFF7F7));
}
.degrade2 {
	background-image: linear-gradient(top, #93117D 30%, #660E5C 100%);
	background-image: -o-linear-gradient(top, #93117D 30%, #660E5C 100%);
	background-image: -moz-linear-gradient(top, #93117D 30%, #660E5C 100%);
	background-image: -webkit-linear-gradient(top, #93117D 30%, #660E5C 100%);
	background-image: -ms-linear-gradient(top, #93117D 30%, #660E5C 100%);
	background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0.3, #93117D),color-stop(1, #660E5C));
}

.degrade3 {
     background-image: linear-gradient(top, #98E3E1 18%, #E6EAEC 62%);
     background-image: -o-linear-gradient(top, #98E3E1 18%, #E6EAEC 62%);
     background-image: -moz-linear-gradient(top, #98E3E1 18%, #E6EAEC 62%);
     background-image: -webkit-linear-gradient(top, #98E3E1 18%, #E6EAEC 62%);
     background-image: -ms-linear-gradient(top, #98E3E1 18%, #E6EAEC 62%);
     background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0.18, #98E3E1),color-stop(0.62, #E6EAEC));
}

/* color bloc */
.bloc_centre {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C8D1D5;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 1px 2px #B6EBE9;
}
.bloc_communaute1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #98E3E0;
    box-shadow: 0px 1px 2px #8F117C;
}
.bloc_communaute2 {
    background-image: linear-gradient(left top, #52A3A3 30%, #99CCCC 90%);
	background-image: -o-linear-gradient(left top, #52A3A3 30%, #99CCCC 90%);
	background-image: -moz-linear-gradient(left top, #52A3A3 30%, #99CCCC 90%);
	background-image: -webkit-linear-gradient(left top, #52A3A3 30%, #99CCCC 90%);
	background-image: -ms-linear-gradient(left top, #52A3A3 30%, #99CCCC 90%);
	background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0.3, #52A3A3),color-stop(0.9, #99CCCC));
    border: 5px solid #B9ECEA;
    box-shadow: 0px 1px 2px #8F117C;
}
/* autres */
 .votes {
	color: #8D0000;
	border: 1px solid #8D0000;
	border-radius: 4px;
	text-align: center;
	padding: 8px;
	min-width:20px;
	font-weight: bold;
}
 .reponses {
	color: #339900;
	border: 1px solid #339900;
	border-radius: 4px;
	text-align: center;
	padding: 8px;
	min-width:20px;
	font-weight: bold;
}
.ligne_separatrice{
	background-color: #89DFDC;
}
/* color liens */
.lien_footer {
	background-color: #EAA6E9;
}
.lien_default {
	background-color: #752670;
}
.lien_mytdn {
	background-color: #FFF;
	border: 1px solid #CCC;
}
