{% extends 'CoreBundle:Mail:notification.html.twig' %}

{% block corps %}
<p>Nous sommes heureuses de t'accueillir sur Trucs De Nana !</p>

<p>Nouvelle lectrice, nouveau membre de la communauté des nanas. Pour fêter cela, nous t'offrons un escarpin virtuel.</p>

<p>Pour gagner une vraie paire de chaussures, mise en jeu chaque mois après un tirage au sort sur le
site, tu devras cumuler 5 escarpins virtuels <img src="http://trucsdenana.com/assets/images/theme/centre/profil/5_escarpins.png" /></p>

<p>Complète ton profil avec ta photo et une petite présentation de toi. Cela nous permettra de mieux te connaître et tu gagneras ton deuxième escarpin virtuel.</p>

<p>As-tu pensé à t'inscrire à la newsletter de TDN ? Tu recevras ainsi ton Astro Love hebdomadaire et tu gagneras facilement un troisième escarpin virtuel !</p>

<p>Il ne te manque plus que deux escarpins pour prétendre à une vraie paire de chaussures. Il te suffira de participer à la vie de la communauté, c'est-à-dire commenter, répondre aux questions de 
nanas, aimer les articles, poser des questions aux experts et partager avec tes copines !</p>

<p>A très vite sur TrucsDeNana.com !</p>
{% endblock %}