{% extends 'CoreBundle:Mail:notification.html.twig' %}

{% block corps %}
<p>Félicitations&nbsp;! Après avoir participé activement sur TrucsDeNana et remporté tes 5 escarpins virtuels <img src="http://www.trucsdenana.com/assets/images/theme/centre/profil/5_escarpins.png" />, tu as été tirée au sort  et tu as remporté une véritable paire d'escarpins !</p>

<p>Nous allons bientôt te recontacter par mail pour de demander de confirmer tes coordonnées et te donner plus de détails sur ton cadeau.</p>

<p>Encore bravo !!! Nous sommes fières de t'avoir dans la communauté TDN</p>

<p>Bien à toi, L'équipe TDN</p>
{% endblock %}
