{% extends 'CoreBundle:Mail:notification.html.twig' %}

{% block corps %}
<p>Félicitations ! Tu es Nana de la semaine car tu es celle qui a le plus participé sur Trucs De Nana. Tu viens
de remporter un « escarpin virtuel ».{{ nana.popularite|stiletto|raw }}</p>
<p>Continue à commenter, répondre aux questions de nanas, aimer nos contenus, poser des
questions aux experts… pour décrocher les fameux 5 escarpins, et participer à notre tirage au sort 
pour gagner une véritable paire de chaussures.</p>
<p>Au fait, es-tu inscrite à la News de TDN ? As-tu bien complété ton profil membre ? Car cela te rapporte d'office des escarpins ;)</p>
<p>A très vite sur TrucsDeNana</p>
{% endblock %}
