{% extends 'CoreBundle:Mail:notification.html.twig' %}

{% block corps %}
<p>Bravo pour ta participation sur le site et tes 5 escarpins obtenus ! Nous sommes heureuses de 
t'avoir dans la communauté TDN !</p>
<p>Tu vas participer au fameux tirage au sort sur Trucs de Nana.</p>
<p>Nous te souhaitons de gagner cette paire d'escarpins. Alors bonne chance !</p>
<p>Et si tu ne gagnes pas cette fois ci, peut être que tu gagneras la prochaine fois.</p>
<p>Tu recevras un mail qui te tiendra informée des résultats.</p>
{% endblock %}