{% extends 'ConcoursBundle:Page:concoursShow.html.twig' %}

{% block variante_concours %}
<p class="wwarning" style="width:70%;color:#C00000">Attention ! Il ne suffit pas de laisser un commentaire pour participer. Pour être enregistré(e), il faut 1) être inscrit(e) si le jeu est réservé aux membres de la communauté 2) cliquer sur le bouton «&nbsp;Participe&nbsp;!&nbsp;»</p>
{% endblock %}