{% extends 'CoreBundle:Mail:notification.html.twig' %}

{% block corps %}
<p>{{ pseudo }} à modifié l’article suivant, rédigé par {{ auteur }} :</p>
<div>{{ titre |raw }}</div>
<div>{{ msgStatut }}</div>
<div> L’article est à l'état de : <strong>{% if statut == 'ARTICLE_BROUILLON' %}Brouillon{% else %}Publication{% endif %}</strong></div>
{% endblock %}
